# Application
APP_HOST=localhost
APP_PORT=3000

# SSL
APP_SSL_KEY=
APP_SSL_CERT=

# IP Restriction
IP_RESTRICTION=true
IP_WHITELIST=
IP_BLACKLIST=

# Database
DB_MYSQL_HOST=localhost
DB_MYSQL_PORT=3306
DB_MYSQL_USER=root
DB_MYSQL_PASS=secret
DB_MYSQL_DB=test
DB_MYSQL_DEBUG=false
